<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<script src="js/jquery-1.12.4.js"></script>
<link rel="stylesheet" href="layui/css/layui.css">
<script src="layui/layui.js"></script>
<body>
<form class="layui-form x-center" action="" style="width:1000px;margin: 0px auto;position: relative;left: 60px;">
    <div class="layui-form-pane" style="margin-top: 15px;">
        <div class="layui-form-item">

            <label class="layui-form-label">日期范围</label>
            <div class="layui-input-inline">
                <input type="text" class="date layui-input" placeholder="开始日" name="startdate">
            </div>
            <div class="layui-input-inline">
                <input type="text" class="date layui-input" placeholder="截止日" name="enddate">
            </div>
            <div class="layui-input-inline">
                <input type="text" name="username" placeholder="请输入登录名" autocomplete="off" class="layui-input">
            </div>
            <div class="layui-input-inline" style="width:80px">
                <button class="layui-btn" lay-submit lay-filter="sreach"><i class="layui-icon">提交</i>
                </button>
            </div>
        </div>
    </div>
</form>
<table id="firstTable" lay-filter="firstTable"></table>

<script>
    layui.use(['laydate', 'element', 'laypage', 'layer', 'form', 'table'], function () {
        var laydate = layui.laydate;//日期插件
        var lement = layui.element;//面包导航
        var laypage = layui.laypage;//分页
        var layer = layui.layer;//弹出层
        var form = layui.form;
        var table = layui.table;

        lay('.date').each(function(){
            laydate.render({
                elem: this
                ,trigger: 'click'
            });
        });

        /*$.ajax({
            "url" : "BackUserList"
            ,"data" : {"page":"1","limit":"5"}
            ,"type" : "GET"
            ,"dateType" : "json"
            ,"success" : function (data) {
                alert(data)
            }
        })*/
        table.render({
            elem: '#firstTable'
            ,id: 'table'
            ,url: 'BackUserList'   //数据接口
            ,page: true        //开启分页
            ,cols: [[          //表头
                {field: 'id', title: 'ID',width: 250}
                ,{field: 'zhanghao', title: '账号',width: 250}
                ,{field: 'logindate', title: '最近登陆时间',width: 250}
            ]]
            ,limit : 2
            ,limits: [2,5,10]
        });


    })
</script>
</body>
</html>