<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.jiangong.mapper.UserMapper">
    <update id="updateBackUserState">
        update backuser b,categorys c set b.state = #{state} where b.id = #{id}
    </update>


    <select id="login" resultType="BackUser">
        select * from backuser where zhanghao=#{param1} and password=#{param2}
    </select>

    <select id="selectBackUserList" resultType="BackUser">
           select * from backuser
           <where>
               <if test="startdate !=null and startdate !=''">
                      and logindate  &gt; #{startdate}
               </if>
               <if test="enddate !=null and enddate !=''">
                     and logindate  &lt; #{enddate}
               </if>
               <if test="name !=null and name !=''">
                      and zhanghao like concat ('%',#{name},'%')
               </if>
           </where>
    </select>
</mapper>